
<nav id="hamburgerMenu" class="hamburger-menu">
  <div class="menu-title-container py-300">
    {% render 'hypevintage-logo' %}
    <span id="navCloseX">{% render 'ic-close-nav' %}</span>
  </div>
  <span id="searchIcon" class="search-icon-contaner py-300" data-search="true">
    {% render 'search-icon' %}
    <input id="searchInputField" class="search-input-field " type="text" placeholder="Search for products...">
  
  </span>  

  {%- comment -%}
    Main menu
  {%- endcomment -%}
    <ul class="main-nav py-300">
      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklist[child_list_handle].links != blank %}
          <li class="py-300">
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
          {% for childlink in linklist[child_list_handle].links %}
            <li class="py-300">
              <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            </li>
          {% endfor %}
        {% else %}
          <li class="py-300">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

{%- comment -%}
    Authentication
    <ul>
      {% if shop.customer_accounts_enabled %}
      {% if customer %}
      <li>
        <a href="{{ routes.account_url }}">Account</a>
        </li>
        <li>
          <a href="{{ routes.account_logout_url }}"> Logout</a>
          </li>
          {% else %}  
          <li>
            <a href="{{ routes.account_login_url }}">Login</a>
            </li>
            <li>
              <a href="{{ routes.account_register_url }}">Register</a>
              </li>
              
            {% endif %}
          {% endif %}
          </ul>
{%- endcomment -%}
  <nav  class="sub-nav">
    {% render 'subnavigation' %}
  </nav>
</nav>

