{% if paginate.pages > 1 %}
    <nav aria-label="Page navigation" class="py-300">
      <ul class="pagination-container">
        {% if paginate.previous.is_link %}
          <li><a href="{{ paginate.previous.url }}">{% render 'ic-arrow-left' %}</a></li>
        {% endif %}
            {% for part in paginate.parts %}
                {% if part.is_link %}
                        <li>
                            <a href="{{ part.url }}">{{ part.title }}</a>
                        </li>
                    {% else %}
                        <li class="pagination-active disabled">
                            <a href="{{ part.url }}">{{ part.title }}</a>
                        </li>
                {% endif %}
            {% endfor %}
            {% if paginate.next.is_link %}
                    <li>
                        <a href="{{ paginate.next.url }}">{% render 'ic-arrow-right' %}</a>
                    </li>
                    
            {% endif %}
        </ul>
    </nav>
    
{% endif %}