<div class="collection__sort">
    <select  name="sorting" id="sort_by" class="py-3 px-4 my-3 border border-black">
      {% for option in collection.sort_options %}
        <option value="{{ option.value }}"
          {% if option.value == collection.sort_by %}
            selected
          {% endif %}
        >{{option.name}}</option>
      {% endfor %}
    </select>
</div>


<div class="row">
    {%- comment -%} <form id="filterForm">
      {% for product_type in collection.all_types %}
        <label for="{{ product_type }}">{{ product_type }}</label>
        <input type="radio" id="{{product_type}}" name="type" value="{{ product_type }}">
      {% endfor %} {%- endcomment -%}
      
      {% if collection.all_tags.size > 0 %}
        <ul class="tag-filters">
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <li class="tag-filters__item active">{{ tag | link_to_remove_tag: tag }}</li>
              {% else %}
              <li class="tag-filters__item">{{ tag | link_to_add_tag: tag }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      
      {% if collection.all_types.size > 0 %}
        <ul class="tag-filters">
          {% for type in collection.all_types %}
            {% if current_types contains type %}
              <li class="type-filters__item active">{{ type | link_to_remove_type: type }}</li>
              {% else %}
              <li class="type-filters__item">{{ type | link_to_add_type: type }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

        {%- comment -%}           
        {% for tag in collection.all_tags %}
          <label for="{{ tag }}">{{ tag |capitalize }}</label>
          <input type="checkbox" name="tag" id="{{ tag }}" value="{{ tag }}">  
        {% endfor %}
        <button id="filterFormBtn" class="btn btn-primary w-10">Filter</button>
      </form> {%- endcomment -%}