<section class="py-500" data-width="less">
    <h2 class="py-400">Delivery information</h2>
    
    <article class="return-delivery-article delivery-time-container py-500">
        <h3 class="return-delivery-title py-300">
            {% render 'time' %}
            {{section.settings.time_title}}
        </h3>
        {{section.settings.time_description}}
    </article>
    <article class="return-delivery-article delivery-rate-container py-500">
        <h3 class="return-delivery-title py-300">
            {% render 'rate' %}
            {{section.settings.rate_title}}
        </h3>
        {{section.settings.rate_description}}
    </article>

    <article class="return-delivery-article delivery-procedure-container py-500">
        <h3 class="return-delivery-title py-300">
            {% render 'truck' %}
            {{section.settings.procedure_title}}
        </h3>
        {{section.settings.procedure_description}}

        <h4 class="py-300">After the package has been sent, you will receive your tracking number in the following ways:</h4>
            <ul>
                {% for block in section.blocks %}
                    {% assign item = block.settings %}
                    <li class="py-200">{{item.step_delivery}}</li>
                {% endfor %}
            </ul>
    </article>

    <div class="concat-action-container py-500">
        <h4>If you have more questions, contact us! We will get back to you as soon as possible.</h4>
        <a href="https://hypevintage-aalborg.myshopify.com/pages/contact" class="btn btn-active">Contact us</a>
    </div>

</section>

{% schema %}
    {
        "name": "Delivery",
        "class": "delivery-section",
        "settings": [
            {
                "type": "text",
                "id": "time_title",
                "default": "Example Heading",
                "label": "How long it takes to deliver title"
            },
            {
                "type": "richtext",
                "id": "time_description",
                "default": "<p>Example Paragraph</p>",
                "label": "How long it takes to deliver description"
            },
            {
                "type": "text",
                "id": "rate_title",
                "default": "Example Heading",
                "label": "How much it takes to deliver title"
            },
            {
                "type": "richtext",
                "id": "rate_description",
                "default": "<p>Example Paragraph</p>",
                "label": "How much it takes to deliver description"
            },
            {
                "type": "text",
                "id": "procedure_title",
                "default": "Example Heading",
                "label": "Procedure of the delivery title"
            },
            {
                "type": "richtext",
                "id": "procedure_description",
                "default": "<p>Example Paragraph</p>",
                "label": "Procedure of the delivery description"
            }
        ],
        "blocks": [
            {
                "name": "After you ordered",
                "type": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "step_delivery",
                        "label": "Steps after ordered"
                    }
                ]
            }
        ],
        "presets": [
        {
          "name": "Delivery",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
  {% endschema %}