<section class=" py-1000" data-width="less">
    {% assign current_collection = collections[section.settings.featured_collection] %}
    <div class="featured-collection-header">
        <h3>{{ section.settings.title }}</h3>
        <a href="{{ current_collection.url}}">
                <span>View all</span>
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </a>
    </div>
    <div class="featured-collection-container py-500">
        {% for product in current_collection.products limit: 3 %}
            {% assign image = product.featured_media.preview_image %}
            <article class="featured-collection-article mx-200">
                <div class="product-container">
                    {% if image != blank %}
                        <img class="featured-collection-img" src="{{ image | img_url: 'medium' }}" alt="{{ product.title }}">
                        <span id="productInfoAnchor" class="material-symbols-outlined py-200 icon" data-icon="true" product-handle="{{ product.handle }}">
                            shopping_bag
                        </span>
                    {% else %}
                        {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                    {% endif %}
                </div>
                <div>
                    {% if product.tags != null %}
                        <p>{{ product.tags[0] }}</p>
                    {% endif %}
                    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                    <p>{{product.price | money_without_trailing_zeros}}</p>
                </div>       
            </article>
        {% endfor %}
    </div>
</section>


{% schema %}
    {
        "name": "Featured Collection",
        "class": "featured-collection-section",
        "settings": [
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "title",
                "default": "Featured Collection",
                "label": "Title"
            }
        ],
        "presets": [
            {
                "category": "Collection",
                "name": "Featured Collection"
            }
        ]
    }
{% endschema %}