<div class="footer-title-container py-300" data-width="max">
  <div class="footer-title">
    {% render 'hypevintage-logo' %}
    <span class="material-symbols-outlined footer-main-arrow footer-arrow arrow" data-open="true" data-footer="1">
      expand_less
    </span>
  </div>
</div>
<footer class="footer-collapse"  data-footer="1">
  <section class="quick-nav-container py-300" data-width="max">
    <div class="quick-nav">
      <div class="footer-title">
        <h5>Quick navigation</h5>
        <span class="material-symbols-outlined footer-arrow arrow" data-open="true" data-footer="2">
              expand_less
        </span>
      </div>
      <div class="footer-collapse" data-footer="2">
      {% for block in section.blocks %}
          {% assign item = block.settings %}
          {% if block.type == "link_list" %}
                  {% assign footer_linklist = item.menu %}
                  <ul class="list-unstyled text-small">
                      {% for link in linklists[footer_linklist].links %}
                          <li class="py-200">
                              <a class="footer-link" href="{{ link.url }}">{{ link.title | escape }}</a>
                          </li>
                      {% endfor %}
                  </ul>
                  
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </section>
  <section class="footer-social-section py-300" data-width="max">
    <div class="footer-social">
        <div class="footer-title">
        <h5>Follow us on social media</h5>
        <span class="material-symbols-outlined footer-arrow arrow" data-open="true" data-footer="3">
              expand_more
        </span>
        </div>
        <div class="footer-collapse social-container py-200" data-footer="3">
          <a href="https://www.facebook.com/Hypevintage.dk/" target="_blank">
            {% render 'facebook' %}
          </a>
          <a href="https://www.instagram.com/hypevintage.dk/?hl=dk" target="_blank">
            {% render 'instagram' %}
          </a>
        </div>
    </div>
  </section>
  <section class="footer-address-section py-300" data-width="max">
      <div class="footer-address">
        <div class="footer-title">
          <h5>Address information</h5>
          <span class="material-symbols-outlined footer-arrow arrow" data-open="false" data-footer="4">
                expand_more
          </span>
        </div>
        <div class="footer-collapse py-200 hide" data-footer="4">
          <p>Hypevintage, Visionsvej 3, 1. 7, 9000 Aalborg, Denmark</p>
        </div>
      </div>
  </section>
  </footer>
  <footer class="footer-final-section py-300" data-width="max">
      <div class="footer-final">
          <h4 class="py-300">
            All rights reserved
            {% render 'copyright' %}
            to Hypevintage 2022
          </h4>
      </div>
  </footer>

  {%- comment -%} Bootstrap is being used to breach some issue with css. https://getbootstrap.com/  {%- endcomment -%}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  {{ 'mobile-category.js' | asset_url | script_tag }}
  {{ 'slideshow.js' | asset_url | script_tag }}
  {{ 'faq.js' | asset_url | script_tag }}
  {{ 'cart.js' | asset_url | script_tag }}
  {{ 'footer.js' | asset_url | script_tag }}
  {{ 'collection.js' | asset_url | script_tag }}
  {{ 'filter.js' | asset_url | script_tag }}
  {{ 'product.js' | asset_url | script_tag }}
  

{% schema %}
    {
      "name": "Footer",
      "class": "footer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Footer"
        }
      ],
      "max_blocks": 3,
      "blocks": [
        {
            "type": "link_list",
            "name": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Quick Links"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
                
            ]
        },
        {
            "type": "text",
            "name": "Store details",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Store information"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Text"
                }
            ]
        }
      ],
      "presets": [
          {
              "category": "Footer",
              "name": "Footer"
          }
      ]
    }
    {% endschema %}