<nav class="mobile-nav">
  <div>
    <div class="mobile-nav_icon--container">
      <span id="hamburgerIcon" class="material-symbols-outlined py-200" data-icon="true">
        menu
      </span>
    </div>
    <h1 class="py-200">Hypevintage</h1>

    {%- comment -%}
    Cart
    {%- endcomment -%}
  <nav>
      <ul>
        <li class="mobile-nav_icon--container" data-cart="true">
          <a href="/cart">
            <span class="material-symbols-outlined py-200" data-icon="true">shopping_bag</span>
            {%- comment -%}
              Numbering how many items the cart has
              <span id="numberOfCartItems" class="badge bg-danger rounded-pill">0</span>
            {%- endcomment -%}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
{% render 'hamburger-menu' %}
<section class="py-500">
    {% if section.settings.image != blank %}
        <img class="hero-img" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
        {% else %}
            {% capture current %}{% cycle 1,2 %}{% endcapture %}
           {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <div class="hero-content-container">
        <h2 class="py-400">{{ section.settings.title }}</h2>
        {{ section.settings.description }}       
    </div>

</section>

{% schema %}
  {
      "name": "Hero",
      "class": "hero-section",
      "settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Heading Background Title"
          },
          {
              "type": "text",
              "id": "title",
              "default": "Example Heading",
              "label": "Heading Title"
          },
          {
              "type": "richtext",
              "id": "description",
              "default": "<p>Example Paragraph</p>",
              "label": "Heading Description"
          }
      ],

      "presets": [
          {
              "category": "Hero",
              "name": "Simple Hero"
          }
      ]
  }
{% endschema %}