<nav>
  {%- comment -%}
    Main menu
  {%- endcomment -%}
  <ul class="navbar-nav">
    {% for link in linklists.main-menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklist[child_list_handle].links != blank %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
        {% for childlink in linklist[child_list_handle].links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          </li>
        {% endfor %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-item">
      <a class="nav-link" href="/cart">Cart</a>
    </li>
  </ul>
  {%- comment -%}
    Authentication
  {%- endcomment -%}
  <ul class="navbar-nav">
    {% if shop.customer_accounts_enabled %}
      {% if cutomer %}
          <li class="nav-item">
            <a href="{{ routes.account_url }}" class="nav-link">Account</a>
          </li>
          <li class="nav-item">
            <a href="{{ routes.account_logout_url }}" class="nav-link"> Logout</a>
          </li>
      {% else %}  
          <li class="nav-item">
            <a href="{{ routes.account_login_url }}" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="{{ routes.account_register_url }}" class="nav-link">Register</a>
          </li>

      {% endif %}
    {% endif %}
  </ul>
</nav>