
<section class="py-500">
    {% if section.settings.image != blank %}
        <img class="hero-img" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
        {% else %}
            {% capture current %}{% cycle 1,2 %}{% endcapture %}
           {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <section class="hero-content-container" data-width="less">
        <h2 class="py-400">{{ section.settings.title }}</h2>
        {{ section.settings.description }}       
    </section>
</section>



{% schema %}
  {
      "name": "Hero",
      "class": "hero-section",
      "settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Heading Background Title"
          },
          {
              "type": "text",
              "id": "title",
              "default": "Example Heading",
              "label": "Heading Title"
          },
          {
              "type": "richtext",
              "id": "description",
              "default": "<p>Example Paragraph</p>",
              "label": "Heading Description"
          }
      ],

      "presets": [
          {
              "category": "Hero",
              "name": "Simple Hero"
          }
      ]
  }
{% endschema %}