
<section id="mobileCategory">
    <nav class="mobile-categories-container">
        {% for link in linklists.products.links %}
            {% assign index = forloop.index %}
                <div>
                    <span class="main-category" data-link="{{ index }}">{{  link.title }}</span>
                    <ul class="sub-category hide" data-link="{{ index }}">
                        {% for childlink in link.links %}
                            <li>
                                <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        {% endfor %}
    </nav>
</section>
            
            
{% schema %}
    {
        "name": "Mobile Category",
        "class": "mobile-category",
        "settings": [
        ],
        "presets": [
            {
              "category": "Mobile Category",
              "name": "Mobile Category"
          }
        ]
    }
{% endschema %}
