{% assign current_product = selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}


<section data-width="less">
    <img src="{{  product_image | img_url: 'large' }}" alt="{{  product_image.alt }}">

    <article class="description-container">
        <p>{{ product.metafields.custom.brand }}</p>
        <h1>{{ product.title }}</h1>
        <div class="description-option-container">
            {% for value in product.options_by_name.size.values %}
                <p>Size: {{ value }}</p>
             {% endfor %}
            {% for value in product.options_by_name.color.values %}
                <p>Color: {{ value }}</p>
             {% endfor %}  
        </div>
        <div>
            <h3>{{product.price | money_without_trailing_zeros}}</h3>
            <span>(incl. tax)</span>
        </div>
        <p>"{{ product.metafields.custom.introductiont }}"</p>
    </article>

    <section class="quality-container">
        <h4>Products condition</h4>
        <div>
            <div>
                {{product.metafields.custom.quality.value}}
            </div>
        </div>
        
    </section>

    <section class="related-sections">
             <h3>Looking for a complete fit?</h3>
             {% assign current_collection = collections[product.metafields.custom.related_collection] %}
            {% render 'related-collection', current_collection: current_collection %}

    </section>

</section>

