{% assign current_product = selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}


<div class="container" id="productContainer">
    <div class="row">
        <div class="col-md-5 col-12">
            <img src="{{  product_image | img_url: 'large' }}" alt="{{  product_image.alt }}" class="img-fluid">
            {% for image in product.images %}
                <img src="{{ image.src | img_url: 'medium'}}" alt="{{  image.alt }}">
            {% endfor %}
        </div>
        <div class="col-md-6 col-12">
            <h1>{{ product.title }}</h1>
            <p>{{ current_product.price | money_with_currency  }}</p>

          <form >
                <div class="mb-3">

                {% for variant  in products. %}
                    
                {% endfor %}
                    <select name="id" id="productSelectProductPage" class="form-select">
                        {% for variant in product.variants %}
                            {% if variant.available %}
                                <label for="{{ variant.id  }}">{{ variant.title  }}</label>
                                <input type="checkbox" value="{{ variant.id  }}" id="{{ variant.id  }}" />
                            {% else %}
                            <label for="{{ variant.id  }}">{{ variant.title  }}</label>
                            <input type="checkbox" value="{{ variant.id  }}" id="{{ variant.id  }}" />
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                <div class="mb-3">
                    <input type="number" class="form-control" value="1" min="1" name="quantity" id="quantityProductPage">
                </div> 
                
                <button id="addToCartBtn" class="btn btn-secondary btn-lg w-100 rounded-0">Add To Cart</button>
            </form>    
                {% if section.settings.dynamic_buttons_checkbox == true %}
                    {{ form | payment_button }}
                {% endif %}

        </div>
    </div>

    {% render 'addedcart-popup' %}

</div>