<section id="slideShow"  data-width="max">
    <div class="slideshow-container"  data-width="less">
        <h3>Did you know? #<spna>{{section.settings.title}}</spna></h3>
        <div class="slides-container py-500">
            {% for block in section.blocks %}
            {% assign item = block.settings %}
                <article class="slide">
                    <img class="slide-img" src="../assets/images/" alt="{{ item.image.alt }}">
                    <div class="slide-content-container px-500">
                        <h5>{{item.sub_title}}</h5>
                        <body>{{item.body}}</body>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="tab-title-container py-400 mt-300">
            {% for block in section.blocks %}
            {% assign item = block.settings %}
            {% assign index = forloop.index %}
                <span data-tab="{{index}}" class="tab">{{item.title}}</span>
            {% endfor %}
        </div>
    </div>
</section>


{% comment %}
    Based on the Shopify dev guide: https://shopify.dev/themes/architecture/sections/section-schema
{% endcomment %}
{% schema %}
    {
      "name": "Old Slideshow",
      "tag": "section",
      "class": "slideshow",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Slideshow"
        }
      ],
      "blocks": [
         {
           "name": "Slide",
           "type": "slide",
           "settings": [
             {
               "type": "text",
               "id": "title",
               "label": "Main title"
             },
             {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
             },
             {
               "type": "text",
               "id": "sub_title",
               "label": "Sub-title"
             },
             {
               "type": "richtext",
               "id": "body",
               "label": "body"
             }
           ]
         }
      ],
      "presets": [
        {
          "name": "Slideshow",
          "settings": {
            "title": "Slideshow"
          },
          "blocks": [
            {
              "type": "slide"
            },
            {
              "type": "slide"
            }
          ]
        }
      ]
    }
    {% endschema %}