
<section id="slideShow"  data-width="max">
  <div class="slideshow-container"  data-width="less">
      <h3>Did you know? #</h3>
      <div class="slides-container py-500">
        
        {% assign text_blocks = section.blocks | where: 'type', 'text' %}
        <div class="slide-container" data-slide="1">

          {% for block in text_blocks %}
            <article class="slide">
              <img class="slide-img" src="{{block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
              <div class="slide-content-container px-500">
                <h5>{{block.settings.sub_title}}</h5>
                <p>{{block.settings.body}}</p>
              </div>
            </article>

            {% endfor %}
        </div>
        {% assign image_blocks = section.blocks | where: 'type', 'image' %}
        <div class="slide-container hide" data-slide="2">

          {% for block in image_blocks %}
            <article class="slide">
              <img class="slide-img" src="{{block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
              <div class="slide-content-container px-500">
                <h5>{{block.settings.sub_title}}</h5>
                <p>{{block.settings.body}}</p>
              </div>
            </article>

            {% endfor %}
        </div>
        {% assign slide_blocks = section.blocks | where: 'type', 'slide' %}
        <div class="slide-container hide" data-slide="1">

          {% for block in slide_blocks %}
            <article class="slide">
              <img class="slide-img" src="{{block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
              <div class="slide-content-container px-500">
                <h5>{{block.settings.sub_title}}</h5>
                <p>{{block.settings.body}}</p>
              </div>
            </article>
          {% endfor %}
        </div>
            
          
   
                
      <div class="tab-title-container py-400 mt-300">
          {% for block in section.blocks %}
              <span data-slide="{{block.name}}" class="tab">{{block.name}}</span>
          {% endfor %}
      </div>
  </div>
</section>


{% comment %}
    Inspired by: https://github.com/Maxosys/Shopify-Theme/blob/master/sections/slideshow.liquid
{% endcomment %}

{% schema %}
  {
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "blocks": [
       {
         "name": "Sustainability",
         "type": "text",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "sub_title",
             "label": "Sub-title"
           },
           {
             "type": "richtext",
             "id": "body",
             "label": "body"
           }
         ]
       },
       {
         "name": "Benefit",
         "type": "image",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "sub_title",
             "label": "Sub-title"
           },
           {
             "type": "richtext",
             "id": "body",
             "label": "body"
           }
         ]
       },
       {
         "name": "Cleaning process",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "sub_title",
             "label": "Sub-title"
           },
           {
             "type": "richtext",
             "id": "body",
             "label": "body"
           }
         ]
       }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "settings": {
          "title": "Slideshow"
        },
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
  {% endschema %}

