
<section id="slideShow"  data-width="max">
  <div class="slideshow-container"  data-width="less">
      <h3>Did you know? #</h3>
      <div class="slides-container py-500">
        {% for block in section.blocks %}
          {% assign item = block.settings %}
            
            <div class="first-container">
              <article class="slide" data-slide="{{block.name}}">
                <img class="slide-img" src="{{item.image | img_url: 'master' }}" alt="{{ item.image.alt }}">
                <div class="slide-content-container px-500">
                  <h5>{{item.title}}</h5>
                  <body>{{item.sub_title}}</body>
                  </div>
              </article>
            </div>
          
      {% endfor %}
                
      <div class="tab-title-container py-400 mt-300">
          {% for block in section.blocks %}
              <span data-slide="{{block.name}}" class="tab">{{block.name}}</span>
          {% endfor %}
      </div>
  </div>
</section>


{% comment %}
    Inspired by: https://github.com/Maxosys/Shopify-Theme/blob/master/sections/slideshow.liquid
{% endcomment %}

{% schema %}
  {
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "blocks": [
       {
         "name": "Sustainability",
         "type": "text",
         "settings": [
           {
             "type": "text",
             "id": "title",
             "label": "Main title"
           },
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "sub_title",
             "label": "Sub-title"
           },
           {
             "type": "richtext",
             "id": "body",
             "label": "body"
           }
         ]
       },
       {
         "name": "Benefit",
         "type": "image",
         "settings": [
           {
             "type": "text",
             "id": "title",
             "label": "Main title"
           },
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "sub_title",
             "label": "Sub-title"
           },
           {
             "type": "richtext",
             "id": "body",
             "label": "body"
           }
         ]
       },
       {
         "name": "Cleaning process",
         "type": "slide",
         "settings": [
           {
             "type": "text",
             "id": "title",
             "label": "Main title"
           },
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "sub_title",
             "label": "Sub-title"
           },
           {
             "type": "richtext",
             "id": "body",
             "label": "body"
           }
         ]
       }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "settings": {
          "title": "Slideshow"
        },
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
  {% endschema %}

